html
{
    background: rgb(230, 185, 160) url('images/sunset.JPG') no-repeat center fixed;
    background-size: cover;
}

body
{
    font-size: 8pt;
    text-align: center;
}

#start
{
    text-align: center;
    display: flex;
    justify-content: center;
}

.center
{
    text-align: center;
}

.centerAbsolute
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#madeBy
{
    text-align: center;
    font-size: 6pt;
    font-family: cursive;
    font-style: italic;
}

.column2
{
    column-count: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.column3
{
    column-count: 3;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.centerAbsolute a
{
    display: block;
    column-span: 1;
    text-align: center;
    padding: 5px;
}

.polaroid
{
    display: inline-block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px 10px; 
    font-size: 14pt;
}

div.polaroid span
{
    font-size: 24pt;
    font-style: italic;
}

.polaroid img
{
    border-radius: 4%;
}

.leftCol
{
    text-align: right;
    column-span: 1;
}

.rightCol
{
    text-align: left;
    column-span: 1;
}

#info
{
    font-size: 16pt;
}

#lipsoul
{
    padding-top: 2%;
}

a
{
    color: gray;
    text-decoration: none;
}

img
{
    max-width: 95%;
    height: auto;
    text-align: center;
}

/* slightly fades clickable images when hovered over*/
a img:hover
{
    opacity: 0.7;
}

h1
{
    font-size: 18pt;
    border: solid 3pt white;
}

.home
{
    text-align: center;
}

.home img
{
    max-width: 3%;
    max-height: 3%;
}

#to
{
    position: static;
    top: 8px;
    left: 16px;
    font-size: 12pt;
}

/*Image scaling*/

.imgSmall
{
    min-width: 2rem;
    max-width: 4rem;
}

.imgMedium
{
    min-width: 5rem;
    max-width: 10rem;
}

.imgLarge
{
    min-width: 10rem;
    max-width: 15rem;
}


/*
/* Desktop scaling |
@media only screen and (max-width: 1200px)
{
    /* scale images to a small thumbnail|
    .imgSmall
    {
        min-width: 2rem;
        max-width: 5rem;
    }

    /* scale images to a medium thumbnail |
    .imgMedium
    {
        min-width: 5rem;
        max-width: 10rem;
    }

    /* scale images to a large thumbnail |
    .imgLarge
    {
        min-width: 10rem;
        max-width: 15rem;
    }
}

/* Tablet scaling |
@media only screen and (max-width: 736px)
{
    /* scale images to a small thumbnail|
    .imgSmall
    {
        
    }

    /* scale images to a medium thumbnail |
    .imgMedium
    {
        
    }

    /* scale images to a large thumbnail |
    .imgLarge
    {
        
    }
}

/* Mobile phone scaling |
@media only screen and (max-device-width: 320px) /* and (max-device-width: 820px) |
{
    /* scale images to a small thumbnail|
    .imgSmall
    {
        
    }

    /* scale images to a medium thumbnail |
    .imgMedium
    {
        
    }

    /* scale images to a large thumbnail |
    .imgLarge
    {
        
    }
}
*/
